* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-accent-color: #B6FF00;
    -fx-grey-color: #b9b9b9;
    -fx-light-grey-color: #d1d1d1;
    -fx-lightest-grey-color: #F9F9FB;
    -fx-focus-color: -fx-secondary-color;
}

/*Button Styles*/
.button {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.button {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(255,255,255,0),rgba(114,131,148,0.9) );
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

 /*Table Style*/
.table-button {
    -fx-background-color: -fx-primary-color;
    -fx-cursor: hand;
}

.table-button:hover{
    -fx-background-color: transparent;
}

.table-view {
    -fx-border-color: transparent;
    -fx-background-color: transparent; /* OR  -fx-background-insets: 0.0; */
}

.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: -fx-light-grey-color;
    -fx-border-color: -fx-grey-color;
}

.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

/* This is just magic */
.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-lightest-grey-color -fx-lightest-grey-color -fx-lightest-grey-color, transparent;
    -fx-border-insets: 0, 1;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:filled:hover {
    -fx-background-color: -fx-light-grey-color;
}

.table-row-cell:filled:selected:hover {
    -fx-background-color: -fx-light-grey-color;
}

.table-row-cell:filled:selected {
    -fx-background-color: #eaeaea;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: black;
}

.table-view .cell:filled{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
}

.check-box-table-cell > .check-box:selected .box .mark {
    -fx-background-color: white;
}

.check-box-table-cell > .check-box:selected .box{
    -fx-background-color: -fx-accent-color;
}

.table-view .placeholder .label {
    -fx-text-fill: red;
    -fx-padding:20px;
}

/*TextField Style*/
.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.text-field:focused {
    -fx-background-color: -fx-primary-color, white;
}

/*Button Tab Style*/
.tab-button {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.tab-button {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}